
      <div class="sidebar">
            <ul>
                <li class="dashboard">
                    <a href="#">
                        <i class="fa-sharp fa-solid fa-gauge"></i>
                        
                    </a>
                </li>
                <li class="hidden">
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <div>Home</div>
                    </a>
                </li>
               
                <li class="hidden">
                    <a href="/team0ne/Module/home/user.html">
                        <i class="fa-sharp fa-solid fa-chart-simple"></i>
                        <div>User</div>
                    </a>
                </li>
                
            </ul>
        </div>
        